@font-face {
	font-family: 'literata';
	src: url('../fonts/Literata-Regular.woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'literata';
	src: url('../fonts/Literata-ExtraLight.woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
